body{
  font-family: fantasy;
  background-color:LightBlue;
  color: green;
  text-align: center;
  text-decoration: underline;
  border-style: dotted;
  border-radius: 50px;
  border-width: -20px;
}
p{
  font-size:50px;
}
a{
  font-size: 50px;
  color: blue;
}
h1{
  font-style: oblique;
  text-decoration: inherit;
  font-size: 20px;
  
}
